page-benefit2 {

.block_container1 > div {
    display: inline-block;
    vertical-align: middle;
}

.bloc2{
	font-size:14px;
}

.bloc1{
	font-size: 15px;
		font-weight: 500;
		color: #0073b7;

}


}
