page-statusdetails {

.block_container > div {
    display: inline-block;
    vertical-align: middle;
}

.bloc2{
	font-size:13px;
	font-weight: 500;
}

.block1{
	font-size: 11px;
}


h4 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h4 span { 
    background:#fff; 
    padding:0 10px; 
}

}
