page-familymember {

.block_container > div {
    display: inline-block;
    vertical-align: middle;
}

.bloc2{
	font-size:14px;
}

.bloc1{
	font-size: 14px;
	font-weight: 500;
}

.name{
	font-weight: 500;
	font-size: 15px;
	color: #0073b7;	
}

}
