page-claimstatus {

.itemheight{
	height: 90px;
}
.back{
	background-color: #D7DBDD;
}
.cc{
	text-align: center;
	color: #0073b7;
	font-size: 22px;
	font-weight: 410;
}

.pp{
	text-align: center;
	font-weight: 500;
}

.block_container5 > div {
    display: inline-block;
    vertical-align: middle;
        margin-left: 0px;
        margin-top: 5px;

}


.bloc5{
  font-size:11px;
}

.bloc51{
  font-size: 12px;
    font-weight: 500;

}

.bloc511{
  font-size: 12px;
    font-weight: 500;
    color: #0073b7;

}

}
